@import "tailwindcss";

:root {
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: #020909;
  --color-background-light: #0e1116;
  --color-background-md: #161B22;
  --color-border-light: #3E444C;
  --color-taupe: #987D7C;
  --color-lilac-ash: #A09CB0;
  --color-powder-blue: #A3B9C9;
 
}

.tiptap h1 {
  font-size: 2rem;
  font-weight: bold;
}

.tiptap h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.tiptap p {
  margin: 0.5rem 0;
}
